.header-img {
    display: block;
    width: 100%;
}

.home-title {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}
ul {
    list-style-type: none;
    padding: auto;
    text-align: center;
    block-size: 20%;
    border: 20%;
}

.container {
    border: 2px solid black;
    border-radius: .6em;
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
}